page-login {

}

p {
text-align: center;
}

h1 {
text-align: center;
}

h4 {
text-align: center;
}

label, input, select, textarea {
  width: 250px;
  height: 50px;
  font-size: 17px;
  text-align: center;
  padding-top: 7%;
  padding-bottom: 30%;
}

input {
  padding-bottom: 8%;
}

.list {
  
}
