.card-ios p,
.card-ios h2 {
  text-align: left;
}

.button.message {
  margin-left: 15%;
}

h1 {
  color: #55a9cd;
  font-weight: bold;
  padding-top: 2px;
}

h2 {
  color: #55a9cd;
  font-weight: bold;
  padding: 8%;
}

h3 {
  color: #55a9cd;
  font-weight: bold;
  padding-top: 10px;
}

h4 {
  color: #55a9cd;
  font-weight: bold;
  padding-top: 5%;
}

h5 {
  color: #55a9cd;
  font-weight: bold;
  padding: 5%;
}

h6 {
  color: #55a9cd;
  padding-top: 3%;
}
