<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>LANGUASHIP</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h1>
    WELCOME TO LANGUASHIP
  </h1>

  <ion-card *ngFor="let user of users">
    <img *ngIf="user.attributes.image" src="{{ user.attributes.image }}"/>
    <ion-card-content>
      <ion-card-title>
        <div *ngIf="user.attributes.name">
          {{ user.attributes.name }}
        </div>
      </ion-card-title>
      <div *ngIf="user.attributes.location">
        {{ user.attributes.location.locale }},
      </div>
      <p *ngIf="user.attributes.age"> {{ user.attributes.age }} </p>
      <div *ngIf="user.attributes.languages">
        <div *ngFor="let language of user.attributes.languages">
          <h3 *ngIf="language.native == true"> Native: {{ language.name }} </h3>
          <h3 *ngIf="language.learn == true"> Want to learn: {{ language.name }} </h3>
        </div>
      </div>
    </ion-card-content>
    <p>
      <button ion-button class="message" color="next" round>SEND MESSAGE</button>
    </p>
  </ion-card>
</ion-content>
