<ion-header>
  <ion-navbar>
    <ion-title>SIGN UP</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/imgs/logo.png"/>
  </ion-card>
  <ion-slides pager="true">
    <ion-slide style="background-color:white">
      <h4>CREATE A NEW ACCOUNT</h4>
      <p>
        <button ion-button (click)="registerAccountPopUp()" *ngIf="!currentUser" color="next" round>SIGN UP</button>
      </p>
    </ion-slide>

    <ion-slide style="background-color:white;">
        <h2>Where are you based?</h2>

      <ion-select>
        <ion-option *ngFor="let cc of locations" value="{{ cc }}">
          <span class='flag-icon flag-icon-gb {{ cc.slice(0, -1) }}'></span>
            {{ cc }}
        </ion-option>
      </ion-select>
      <p>
        <button ion-button color="next" round>NEXT</button>
      </p>
    </ion-slide>

    <ion-slide style="background-color:white;">
      <h4>What is your native language?</h4>
      <ion-item>
      <ion-select [(ngModel)]= 'nativeLanguage'>
        <ion-option *ngFor="let ciao of languages" value="{{ ciao }}">
          <span class='flag-icon flag-icon-gb {{ ciao.slice(0, -1) }}'></span>
            {{ ciao }}
        </ion-option>
      </ion-select>
    </ion-item>

      <h4>Which language do you want to learn?</h4>
      <ion-item>
        <ion-select [(ngModel)]= 'learnLanguage'>
        <ion-option *ngFor="let cc of learnings" value="{{ cc }}">
          <span class='flag-icon flag-icon-{{ cc.slice(0, -1) }}'></span>
          {{ cc }}
        </ion-option>
      </ion-select>
    </ion-item>
    <p>
      <button ion-button color="next" round>NEXT</button>
    </p>
    </ion-slide>
    <ion-slide style="background-color:white;">
      <h4>What's your age?</h4>
      <ion-range min="18" max="99" [(ngModel)]="age" color="secondary">
        <ion-label range-left>18</ion-label>
        <ion-label range-right>99</ion-label>
      </ion-range>

      <h4>And gender?</h4>
        <ion-list>
          <ion-item>
            <ion-select [(ngModel)]="gender">
              <ion-option value="female">Female</ion-option>
              <ion-option value="male">Male</ion-option>
            </ion-select>
            </ion-item>
        </ion-list>
        <button ion-button color="next" (click)="goToHome()" round>DONE!</button>
      </ion-slide>
  </ion-slides>
</ion-content>
