p {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
  color: white;
  padding: 1%;
}

h4 {
  text-align: center;
  color: white;
}

label, input, select, textarea {
  width: 250px;
  height: 50px;
  font-size: 17px;
  text-align: center;
  padding-top: 7%;
  padding-bottom: 30%;
}

input {
  padding-bottom: 8%;
}

.list {
  padding-left: 13%;
}

.button-block {
  height: 10%;
  font-size: 25px;
}
