.swiper-slide {
    text-align: center;
    font-size: 13px;
    align-items: stretch;
    margin-top: 30px;
    background-image: url("https://frontnews.eu/contents/news/19005/images/resize_w3L8iXyG47RlejaTfFmzBtZqhHpgWd0J_980x590.jpg");
    background-repeat: no-repeat;
}
